@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css";
@import "https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css";

body a{
    text-decoration: none;
}

.navbar-light {
    background: #fff !important;
}

.sidebar-menu a,
.sidebar-heading {
    background-color: #F8F9FD !important;
    color: #000000;
    padding: 16px;
}

.sidebar-menu {
    width: 200px !important;
    font-size: 0.84rem !important;
}

.sidebar-menu .sidebar-menu-text {
    color: #000;
    vertical-align: 20%;
    font-weight: 500;
}

.sidebar-toggle-button {
    position: fixed;
    bottom: 0;
    z-index: 9;
}
.sidebar-toggle-icon {
    color: #000 !important;
    display: inline-block !important;
    position: absolute !important;
    right: 0 !important;
    bottom: 35% !important;
}


.sidebar-dropdown-open {
    width: 200px
}

.sidebar-logo {
    width: 7% !important;
}

blockquote h2 {
    color: #363636 !important;
}

.content-app {
    margin: 8% 0 0 0 !important;
}

.btn {
    padding: 0.5rem 1.5rem !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    border: none !important;
    border-radius: 8px !important;
    outline: none !important;
}

.btn.btn-success {
    color: #fff !important;
    background-color: #0b52a2 !important;
}

@media (max-width:800px) {
    .sidebar-menu-list {
        display:none !important;
    }
    .sidebar-logo {
        width: 39% !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.sidebar-menu-list {
    margin-top: 39px;
}

.navbar-border {
    border-left: 1px solid hsla(0,0%,63.5%,.2);
}

.navbar-dropdown .name {
    width: 100%;
    vertical-align: 20%;
}

.navbar-dropdown-open {
    top: 63px; right: 0; bottom: inherit!important;
}

.navbar-top {
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 8;
}

.navbar-top .collapse {
    width: 100%;
}

.copyright {
    position: fixed;
    bottom: 0;
}

.bottom-navigation a {
    padding: 0 25px 0 25px;
}

.bottom-navigation a i {
    font-size: 20px;
}

.content figure figcaption span {
    color: #0d6efd;
    text-decoration: none;
}

.content figure figcaption span a {
    text-decoration: none;
}

.content figure figcaption .active {
    color: #000000;
    text-decoration: none;
}

section .container .row .base {
    width: 400px;
    height: 200px;
    background-color: #f8f8f8;
    color: #3d3d3d !important;
    border-left: solid 15px #ffd338;
    border-radius: 15px;
    transition-duration:0.3s;
}

section .container .row .base a {
    color: #1c1f23;
    transition-duration:0.3s;
}

section .container .row .base a:hover {
    color: #ffd338;
}

section .container .row .base:hover {
    border-left: solid 40px #ffd338;
    border-radius: 15px;
    color: #ffd338;
}

.container .row .exams {
    width: 450px;
}

.container .row .exams-active {
    background-color: #0a53be;
}

.card {
    opacity: 0.9
}

.login-box {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login-button {
    border: none;
    background-color: #ffd338;
    width: 100%;
}

.login-button:hover {
    color: #ffd338;
    width: 100%;
    background-color: #000000;
}

.bottom-navigation-mb {
    padding: 0 40px 0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 1px 10px -4px #7c7c7c;
}

.bottom-navigation-mb .navbar-list {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.bottom-navigation-mb .navbar-link {
    display: inline-block;
    justify-content: space-between;

    padding: 20px;
    text-decoration: none;
    color: #1d1d1d;
    transition: 0.3s;
}

.bottom-navigation-mb .navbar-link:hover, .navbar-link.active {
    color: #ffd338;
}

.bottom-navigation-mb .navbar-link-icon {
    font-size: 25px;
}

.bottom-navigation-mb .navbar-underscore {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #ffd338;
    transition: 0.3s;
}
@media only screen and (max-width: 600px) {
    figure {
        padding: 9px 5px 4px;
        margin-bottom: 15px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0px 3px 9px -4px #7c7c7c;
    }
    figure h2 {
        margin: auto;
        text-align: center;
    }
    figure nav {
        display: none;
        visibility: hidden;
    }
    .content-app {
        margin-bottom: calc(50vh - 100px);
    }
}

.content-app {
    margin: 5% 0 0 0;
}

@media (max-width:800px) {
    .content-app figure {
        position: fixed;
        width: 94%;
        z-index: 8;
    }
    .content-app form {
        margin: 50px 0 100px 0;
    }

    .content-app h4 .btn, button.btn-primary {
        margin: 70px 0 0 0;
    }

    .content-app .dataTables_length {
        width: 50% !important;
    }

    .content-app .dataTables_filter {
        margin: -30px 0 0 0 !important;
        width: 50% !important;
        float: right !important;
    }

    .content-app .fast-access-top {
        margin: 70px 0 0 0 !important;
    }

    .content-app .fast-access-bottom {
        margin: 0 0 100px 0 !important;
    }

    body #sidebar-wrapper {
        position: fixed;
        z-index: 9;
    }
}

.content-app table.dataTable {
    width: 100% !important;
}
