body a{
    text-decoration: none;
}

.navbar-light {
    background: #fff !important;
}

.sidebar-menu a,
.sidebar-heading {
    background-color: #F8F9FD !important;
    color: #000000;
    padding: 16px;
}

.copyright {
    position: fixed;
    bottom: 0;
}

.bottom-navigation a {
    padding: 0 25px 0 25px;
}

.bottom-navigation a i {
    font-size: 20px;
}

.content figure figcaption span {
    color: #0d6efd;
    text-decoration: none;
}

.content figure figcaption span a {
    text-decoration: none;
}

.content figure figcaption .active {
    color: #000000;
    text-decoration: none;
}

section .container .row .base {
    width: 400px;
    height: 200px;
    background-color: #f8f8f8;
    color: #3d3d3d !important;
    border-left: solid 15px #ffd338;
    border-radius: 15px;
    transition-duration:0.3s;
}

section .container .row .base a {
    color: #1c1f23;
    transition-duration:0.3s;
}

section .container .row .base a:hover {
    color: #ffd338;
}

section .container .row .base:hover {
    border-left: solid 40px #ffd338;
    border-radius: 15px;
    color: #ffd338;
}

.container .row .exams {
    width: 450px;
}

.container .row .exams-active {
    background-color: #0a53be;
}

.card {
    opacity: 0.9
}

.login-box {
    background-image: url("/images/login-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login-button {
    border: none;
    background-color: #ffd338;
    width: 100%;
}

.login-button:hover {
    color: #ffd338;
    width: 100%;
    background-color: #000000;
}

.bottom-navigation-mb {
    padding: 0 40px 0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 1px 10px -4px #7c7c7c;
}

.bottom-navigation-mb .navbar-list {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.bottom-navigation-mb .navbar-link {
    display: inline-block;
    justify-content: space-between;

    padding: 20px;
    text-decoration: none;
    color: #1d1d1d;
    transition: 0.3s;
}

.bottom-navigation-mb .navbar-link:hover, .navbar-link.active {
    color: #ffd338;
}

.bottom-navigation-mb .navbar-link-icon {
    font-size: 25px;
}

.bottom-navigation-mb .navbar-underscore {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #ffd338;
    transition: 0.3s;
}
@media only screen and (max-width: 600px) {
    figure {
        padding: 9px 5px 4px;
        margin-bottom: 15px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0px 3px 9px -4px #7c7c7c;
    }
    figure h2 {
        margin: auto;
        text-align: center;
    }
    figure nav {
        display: none;
        visibility: hidden;
    }
    .content-app {
        margin-bottom: calc(50vh - 100px);
    }
}
